UnitCollection (
  units: [
    (
        name: "Scooby",
        hp: 10,
        def: 0,
        atk: 3,
        spd: 2,
        mov: 8,
        skill: 3,
    ),
    (
        name: "Courage",
        hp: 10,
        def: 0,
        atk: 3,
        spd: 2,
        mov: 8,
        skill: 3,
    ),
    (
        name: "Lassie",
        hp: 10,
        def: 0,
        atk: 3,
        spd: 2,
        mov: 8,
        skill: 3,
    ),
    (
        name: "Dog",
        hp: 10,
        def: 0,
        atk: 3,
        spd: 2,
        mov: 8,
        skill: 3,
    ),
    (
        name: "Cat",
        hp: 10,
        def: 0,
        atk: 3,
        spd: 2,
        mov: 8,
        skill: 3,
    ),
    (
        name: "Elephant",
        hp: 10,
        def: 0,
        atk: 3,
        spd: 2,
        mov: 8,
        skill: 3,
    ),
    (
        name: "Giraffe",
        hp: 10,
        def: 0,
        atk: 3,
        spd: 2,
        mov: 8,
        skill: 3,
    ),
    (
        name: "Slow Loris",
        hp: 10,
        def: 0,
        atk: 3,
        spd: 2,
        mov: 8,
        skill: 3,
    ),
    (
        name: "Chipmanzee",
        hp: 10,
        def: 0,
        atk: 3,
        spd: 2,
        mov: 8,
        skill: 3,
    ),
    (
        name: "Orangutan",
        hp: 10,
        def: 0,
        atk: 3,
        spd: 2,
        mov: 8,
        skill: 3,
    ),
    (
        name: "Tom",
        hp: 10,
        def: 0,
        atk: 3,
        spd: 2,
        mov: 8,
        skill: 3,
    ),
    (
        name: "Double D",
        hp: 10,
        def: 0,
        atk: 3,
        spd: 2,
        mov: 8,
        skill: 3,
    ),
  ]
)
